@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Skylines Demo Web App</h1>
        <p>Where here to help you on your <a href="https://www.skylinesacademy.com/">Cloud Journey</a>.</p>
        <img src="https://github.com/jf781/SkylinesAcademy-AZ204/blob/master/SampleWebApp/wwwroot/images/SkylinesAcademy_color.png?raw=true" alt="Skylines Academy - Top Rated Cloud Training">
    </div>
